<launch>

	<arg name="model"/>
	<arg name="paused" default="false"/>
	<arg name="physics" default="ode"/>
	<arg name="verbose" default="false"/>
	<arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="$(arg paused)"/>
		<arg name="physics" value="$(arg physics)"/>
		<arg name="verbose" value="$(arg verbose)"/>
		<arg name="world_name" value="$(arg world_name)"/>
	</include>

	<group ns="$(arg model)">
		<node name="spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -model $(arg model) -param robot_description"/>
	</group>
	
</launch>