<launch>
	<arg name="rviz" default="true"/>
	<arg name="sim" default="false"/>
	<arg name="sensor" default="IMU"/>
	<arg name="model" default="kwad"/>
	<arg name="gazebo" default="true"/>
	<arg name="parent" default="world"/>
	<arg name="paused" default="false"/>
	<arg name="verbose" default="false"/>
	<arg name="device" default="IOT_nano_33"/>
	<arg name="description_type" default="xacro"/>
	<arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>

	<group if="$(arg sim)">
		<include file="$(find rofous_gazebo)/launch/main.launch">
			<arg name="model" value="$(arg model)"/>
			<arg name="paused" value="$(arg paused)"/>
			<arg name="verbose" value="$(arg verbose)"/>
			<arg name="world_name" value="$(arg world_name)"/>
		</include>
	</group>

	<group ns="$(arg model)">
		<group if="$(eval arg('description_type')=='urdf')">
			<include file="$(find rofous_description)/launch/upload_urdf.launch">
				<arg name="model" value="$(arg model)"/>
			</include>
		</group>

		<group if="$(eval arg('description_type')=='xacro')">
			<include file="$(find rofous_description)/launch/upload_xacro.launch">
				<arg name="model" value="$(arg model)"/>
			</include>
		</group>

		<include file="$(find rofous_control)/launch/main.launch">
			<arg name="model" value="$(arg model)"/>
		</include>
	</group>

	<include file="$(find rofous_odometry)/launch/main.launch">
		<arg name="sim" value="$(arg sim)"/>
		<arg name="rviz" value="$(arg rviz)"/>
		<arg name="sensor" value="$(arg sensor)"/>
		<arg name="parent" value="$(arg parent)"/>
		<arg name="device" value="$(arg device)"/>
		<arg name="namespace" value="$(arg model)"/>
	</include>
	
</launch>