<launch>
	<arg name="rviz" default="true"/>
	<arg name="sim" default="false"/>
	<arg name="sensor" default="IMU"/>
	<arg name="parent" default="/world"/>
	<arg name="namespace" default="Rofous"/>
	<arg name="device" default="IOT_nano_33"/>

	<group ns="$(arg namespace)">

		<node name="odometry" pkg="rofous_odometry" type="tf_broadcaster.py" respawn="false" output="screen"
			args="$(arg namespace) $(arg parent) $(arg sensor)"/>

		<group unless="$(arg sim)">
			<include file="$(find serial_reader)/launch/main.launch">
				<arg name="device" value="$(arg device)"/>
			</include>
		</group>

	</group>

	<group if="$(arg rviz)">

		<group if="$(arg sim)">
			<node name="Rviz" pkg="rviz" type="rviz" respawn="false" output="screen"
				args="-d $(find rofous_description)/config/gazebo.rviz"/>
		</group>

		<group unless="$(arg sim)">
			<node name="Rviz" pkg="rviz" type="rviz" respawn="false" output="screen"
				args="-d $(find rofous_description)/config/realLife.rviz"/>
		</group>
		
	</group>
</launch>